@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-edit-image::after {
    content: 'Edit Image';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-edit-image:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
}

.hover-edit-image:hover::after {
    opacity: 1;
}
